/* common css */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: 0;
}
h1,h2,h3,h4,h5,h6,p{
    line-height: 0.9;
}
a,a:hover{
    text-decoration: none;
    display: inline-block;
}
ul,ol{
    list-style-type: none;
}
/* common css ENd */


.navbar ul li a{
    padding: 28px 18px;
    background: rgb(253, 65, 65);
}
#items{
    padding-top: 150px;
    padding-bottom: 80px;
}
.card{
    position: relative;
    overflow: hidden;
}
.card .header{
    z-index: 9999;
}
.header{
    height: 250px;
    z-index: 9999;
}
.card:hover .header{
    animation: zoom .8s forwards;
    -webkit-animation: zoom .8s forwards;
    z-index: 9999;
}
@keyframes zoom{ 
    from{width: 100%;}
    to{width: 45%;}
}
.after_hover{
    position: absolute;
    top: 0;
    left: 0;
}


/* animation card part start */
.animation_card{
    
    overflow: hidden;
}
.header_image{
    position: relative;
    height: 230px;
    overflow: hidden;
}
.header_image_one{
    position: absolute;
    z-index: 9999;
}
.animation_card:hover .header_image_one{
    animation: zoom_out_animation 1s forwards;
    -webkit-animation: zoom_out_animation 1s forwards;
    animation-delay: .3s;
    z-index: 9999;
}
@keyframes zoom_out_animation {
    from{width: 100%;}
    to{width: 50%;}
}
.after_hover_animation_card{
    position: absolute;
    bottom: 0;
    left: 0;
}
.hover_images{
    position: relative;
}
.animation_card:hover .hover_images .img_three{

    animation: problem 1s forwards;
    -webkit-animation: problem 1s forwards;
}
.animation_card:hover .hover_images .img_four{
    animation: problem 1s forwards;
    -webkit-animation: problem 1s forwards;
    
}

@keyframes problem {
    from{bottom: -300px;}
    to{bottom: 0px;}
}
.after_hover_animation_card .blank_image{
    visibility: hidden;
    opacity: 0;
}
/* .animation_card .header_image .row{
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
} */
/* animation card part ENd */














/*======================== effect_card start ==============================*/
.effect_card{
    overflow: hidden;
}
.effect_card_images{
    position: relative;
    height: 230px;
    overflow: hidden;
}
.eff_card_font_img{
    position: absolute;
    z-index: 999;
    height: 100%;
    width: 100%;
}


.effect_card:hover .eff_card_font_img{
    animation: effect_card_animation_one .5s forwards;
    -webkit-animation: effect_card_animation_one .5s forwards;
    animation-delay: .1s;
    z-index: 9999;
}
@keyframes effect_card_animation_one {
    from{width: 100%;}
    to{width: 50%;
    height: 50%;}
}
.after_hover_effect_card{
    position: absolute;
    left: 0;
    bottom: -280px
}
.effect_card:hover .after_hover_effect_card{
    animation: animation_after_hover_effect_card .5s forwards;
    -webkit-animation: animation_after_hover_effect_card .5s forwards;
}
@keyframes animation_after_hover_effect_card {
    
    to{bottom: 0;}
}
/*======================== effect_card End ========================*/
