/* common css */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: 0;
}
h1,h2,h3,h4,h5,h6,p{
    line-height: 0.9;
}
a,a:hover{
    text-decoration: none;
    display: inline-block;
}
ul,ol{
    list-style-type: none;
}
/* font-family: 'Noto Sans', sans-serif;
font-family: 'Raleway', sans-serif;
font-family: 'Ubuntu', sans-serif; */
/* common css ENd */

/* service part start */
#our_work_and_service{
    background: url(../images/lamborghini-terzo-millennio-4k-2020-wi-1920x1080.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
/* how we work part start */
.how_we_work_txt h3{
    font-family: 'Raleway', sans-serif;
    font-size: 36px;
    font-weight: 700;
    color: #c4c3ca;
    position: relative;
}
.how_we_work_txt h3::after{
    content: '';
    width: 90px;
    height: 3px;
    background: #CB3541;
    position: absolute;
    bottom: -18px;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
}
.how_we_work_txt p{
    font-family: 'Raleway', sans-serif;
    font-size: 16.5px;
    font-weight: 400;
    color: #96959B;
    line-height: 24px;
    padding-top: 50px;
    padding-bottom: 30px;
}
.how_we_work{
    background: #3b3a3a;
    padding-left: 20px;
    padding-right: 20px;
    margin-bottom: 100px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}
.how_we_work i{
    font-size: 50px;
    color: #d64e4e;
    padding-top: 30px;
    padding-bottom: 20px;
}
.how_we_work h3{font-family: 'Raleway', sans-serif;font-size: 20px;font-weight: 700;color: #fff;}
.how_we_work p{
    font-family: 'Noto Sans', sans-serif;font-size: 13px;font-weight: 400;color: #fff;line-height: 24px;padding-top: 20px;padding-bottom: 20px;
}
/* how we work part End */
/* .service{
    background: #f3724b;
} */
.service_title_txt{
    padding-bottom: 60px;
}
.service_title_txt h3{
    text-transform: uppercase;
    color: #fff;
    font-family: 'Noto Sans', sans-serif;
    font-weight: 400;
    font-size: 20px;
    position: relative;
}
.service_title_txt h3::after {
    content: '';
    width: 70px;
    height: 5px;
    background: #CB3541;
    position: absolute;
    bottom: -18px;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
}
.gap{
    padding: 0 !important;
}

.service_itm_name{
    background: #3b3838;
    padding: 30px 90px 30px 5px;
    border-bottom: 1px solid;
    cursor: pointer;
}
.service_itm_name h3{
    color: #fff;
    font-size: 18px;
    display: inline-block;
}
.service_itm_name i{
    font-size: 20px;
    color: #fff;
    padding-right: 5px;
}

/* .img_itms {
	display: inline-block;
	margin: 35px 45px 35px 0px;
	width: 540px;
	height: 460px;
	background: url(../images/kuechen-im-landhausstil-7540.jpg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
} */
.card{
    border: 0 !important;
    border-radius: 0 !important;
    -webkit-border-radius: 0 !important;
    -moz-border-radius: 0 !important;
    -ms-border-radius: 0 !important;
    -o-border-radius: 0 !important;
}
.img_itms{
    background: transparent;
}
.img_itms img{
    height: 455px;
    margin: 35px 45px 35px 0px;
}
.sape{
    display: flex;
    /* align-items: center;
    justify-content: center; */
    /* background: #f3335d; */
    background: rgba(0, 0, 0, 0.685);
}
.service_ditals{
    padding-left: 42px;
    padding-right: 40px;
}
.service_ditals h4{
    font-size: 16px;
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    padding-top: 30px;
    padding-bottom: 30px;
    color: #fff;
}
.service_ditals p{
    line-height: 24px;
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    color: #fff;
}
.service_ditals h5{
    line-height: 24px;
    margin: 0 auto;
    font-family: 'Raleway', sans-serif;
    font-weight: 300;
    font-size: 14px;
    color: #fff;
}
/* service part End */

/* project part start */
#projects{
    background: #252525;
    padding-top: 70px;
}
.nav-item .nav-link{
    padding: 15px 20px;
    margin: 0px 10px 10px;
    background: #99fa61;
    margin-bottom: 0px !important;
    border: none;
    cursor: pointer;
}
/* project part End */