/* common css */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: 0;
}
h1,h2,h3,h4,h5,h6,p{
    line-height: 0.9;
    color: blue;
}
a,a:hover{
    text-decoration: none;
    display: inline-block;
}
ul,ol{
    list-style-type: none;
}
body{
    background: #f3f3f3;
}

/* 
font-family: 'Open Sans', sans-serif;
font-family: 'Roboto', sans-serif;
*/
/* ===== common css ENd ===== */

/* ===== header part start ===== */
.navbar-brand{
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 34px;
    color: #1E205A;
}
.navbar-brand:hover{
    color: #1E205A;
}
.navbar{
    background: #fff;
}
.navbar-expand-lg .navbar-nav .nav-link {
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    font-size: 18px;
    color: #1E205A;
    margin-left:20px;
}
/* ===== header part End ===== */

/* ======== banner part start ======== */
.banner{
    background: url(../images/nour-betar-bkAFwyYTn58-unsplash.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 150px;
}
.banner_item{
    background: #fff;
    margin-bottom: 0;
}

/* ======== banner part End ======== */
#main_section{
    padding-top: 70px;
}
.card{
    border: none !important;
    border-radius: 5px !important;
    -webkit-border-radius: 5px !important;
    -moz-border-radius: 5px !important;
    -ms-border-radius: 5px !important;
    -o-border-radius: 5px !important;
    margin-bottom: 35px;
    background: #f9f9f9;
}
.card_text{
    padding-left: 33px;
    padding-top: 30px;
}
.card_text h5{
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 12px;
    color: #999;
}
.card_text h3{
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 20px;
    color: #2d3746;
    line-height: 30px;
}
.card_text p{
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: #999;
    line-height: 24px;
}

/* main section part-2 start */
.search_bar{
    width: 370px;
    height: 60px;
    margin: 0 auto;
    border: 1px solid #807b7b;
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;

}
.search_input{
    border: none;
    background: none;
    padding-left: 30px;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 18px;
    color: #777777;
    line-height: 60px;
}
.icon{
    border: none;
    margin-right: 30px;
    color: #333;
    line-height: 30px;
    line-height: 60px;
    cursor: pointer;
}
/* categroies start */
.categories_gap{
    padding-top: 70px;
}
.categroies_item{
    padding-top: 40px;
    padding-left: 35px;
    background: #f9f9f9 !important;
}
.categroies_item .title_txt h3{
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 24px;
    color: #1E205A;
}
.categroies{
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size: 20px;
    color: #1E205A;
    line-height: 50px;
    display: block;
    border-bottom: 1px solid #dfdcdc;
}
.categroies:hover{
    display: block;
    color: #1E205A;
}
/* categroies End */

/* top post start */
.tp_gap{
    padding-top: 80px;
}
.top_post_items{
    padding-top: 20px;
    padding-left: 30px;
    background: #f9f9f9;
}
.post_txt h3{
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 22px;
    color: #2d3746;
}
.post_items{
    padding-top: 20px;
}
.short_post{
    margin-bottom: 20px;
}
.short_post .num h3{
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 30px;
    color: #1E205A;
    padding-right: 30px;
}
.short_post .text h3{
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 20px;
    color: #1E205A;
    line-height: 20px;
}
.short_post .text h5{
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 12px;
    color: #999;
}
/* top post End */

/* social start */
.social_title_text h3{
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 20px;
    color: #1E205A;
    text-transform: uppercase;
    padding-top: 60px;
    padding-bottom: 30px;
}
.insta_img{
    max-height: 100px;
    overflow: hidden;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    margin-bottom: 5px;
}
/* social End */
/* main section part-2 End */


/* page's part start */
.pages{
    padding: 30px 0px 40px 0;
}
.pages a{
    padding: 8px 16px;
    color: #1E205A;
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    font-size: 18px;
    background: #f0f0f0;
    margin-right: 15px;
    transition: all linear .3s;
    -webkit-transition: all linear .3s;
    -moz-transition: all linear .3s;
    -ms-transition: all linear .3s;
    -o-transition: all linear .3s;
}
.pages a:hover{
    color: #fff;
    background: #1E205A;
}
/* page's part End */


/* .dropdown:hover>.dropdown-menu {
    display: block;
    
  } */
  
  .dropdown>.dropdown-toggle:active {
    
      pointer-events: none;
  }
  