/* common css */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: 0;
}
h1,h2,h3,h4,h5,h6,p{
    line-height: 0.9;
}
a,a:hover{
    text-decoration: none;
    display: inline-block;
}
ul,ol{
    list-style-type: none;
}
.pb{
	padding-bottom: 0 !important;
}


/* 
	font-family: 'Lato', sans-serif;
font-family: 'Open Sans', sans-serif;
font-family: 'Pacifico', cursive;
font-family: 'PT Sans', sans-serif;
 */




/* common css ENd */
.navbar-nav .nav-link {
	color: #222222;
}
.slide_itms{
 background: url(../images/business_banner.jpg);
 background-repeat: no-repeat;
 background-size: cover;
 background-position: center;
}
.slider_overly{
	background: rgba(0, 0, 0, 0.5);
	padding-top: 245px;
	padding-bottom: 100px;
}
.slide_two{
	background: url(../images/yang-yang-sXL7haSTU1o-unsplash.jpg);
 background-repeat: no-repeat;
 background-size: cover;
 background-position: center;
}
.slide_three{
	background: url(../images/walid-a-d_a6wca1GWY-unsplash.jpg);
 background-repeat: no-repeat;
 background-size: cover;
 background-position: center;
}
.pres{
	height: 40px;
	width: 40px;
	border-radius: 50%;
	border: 2px solid #709dca;
	background: transparent;
	color: #ffc155;
	line-height: 40px !important;
	text-align: center !important;
	position: absolute;
	top: 50%;
	left: 185px;
	z-index: 99;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-ms-border-radius: 50%;
	-o-border-radius: 50%;
	transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-o-transform: translateY(-50%);
}
.next{
	height: 40px;
	width: 40px;
	border-radius: 50%;
	border: 2px solid #709dca;
	background: transparent;
	color: #ffc155;
	line-height: 40px !important;
	text-align: center !important;
	position: absolute;
	top: 50%;
	right: 185px;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-ms-border-radius: 50%;
	-o-border-radius: 50%;
	transform: translateY(-50%);
}
.banner_txt h3{
	font-family: 'Open Sans', sans-serif;
	font-size: 48px;
	font-weight: 700;
}
.banner_txt p{
	font-family: 'Open Sans', sans-serif;
	font-size: 25px;
	font-weight: 700;
	padding-top: 15px;
	padding-bottom: 101px;
}
.banner_btn{
	text-transform: uppercase;
	background: #709dca;
	border: none;
}
.banner_btn:hover{
	background: #709dca;
}
.banner_btn_border{

	
}
.dot_class{
	width: 10px;
	height: 10px;
	background: rgb(241, 179, 46);
}
.dost{
	width: 40px;
	height: 50px;
	background: red;
}
.covervid-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
/* our offer part start */
#our_offer{
	padding-top: 85px;
	padding-bottom: 95px;
}
.offer_txt h3{
	font-family: 'Open Sans', sans-serif;
	font-size: 26px;
	font-weight: 700;
	color: #709dca;
	text-transform: uppercase;
}
.offer_txt p{
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
	font-weight: 400;
	color: #394b50;
	padding-top: 16px;
	padding-bottom: 90px;
}
.our_offer_itms{
	display: flex;
	flex-flow: row nowrap;
}
.our_offer_itms i{
	font-size: 32px;
	/*color: #ffc155;
	*/padding-right: 25px;
	color: #709dca;
	transition: .3s;
	-webkit-transition: .3s;
	-moz-transition: .3s;
	-ms-transition: .3s;
	-o-transition: .3s;
}
.our_offer_itms h3{
	font-family: 'Lato', sans-serif;
	font-size: 16px;
	font-weight: 700;
	color: #394b50;
	text-transform: uppercase;
}
.our_offer_itms p{
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
	font-weight: 400;
	color: #7b7b7b;
	line-height: 22px;
	padding-top: 20px;
	padding-bottom: 80px;
}
.our_offer_itms:hover i{
	color: #ffc155;
}
/* our offer part End */

/* about_us part start */
#about_us{
	background: #ffc155;
	/* display: flex;
	flex-flow: row nowrap; */
}
.about_us_txt{
	padding-left: 80px;
	padding-top: 60px;
}
.about_us_txt h3{
	font-family: 'Open Sans', sans-serif;
	font-size: 26px;
	font-weight: 700;
	color: #ffffff;
	text-transform: uppercase;
}
.about_us_txt p{
	font-family: 'Open Sans', sans-serif;
	font-size: 13px;
	font-weight: 400;
	line-height: 24px;
	color: #fff;
	width: 505px;
	padding-top: 30px;
}
.about_us_txt h5{
	font-family: 'Open Sans', sans-serif;
	font-size: 13px;
	font-weight: 400;
	line-height: 24px;
	color: #fff;
	width: 505px;
	padding-bottom: 50px;

}
.about_us_txt .about_us_btn{
	margin-bottom: 80px;
	padding: 15px 30px 18px 30px;
	font-family: 'Lato', sans-serif;
	font-size: 14px;
	font-weight: 400;
	color: #fff;
	background: #e7ad48;
	text-transform: uppercase;
	border: 1px solid #cb8d21;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-ms-border-radius: 5px;
	-o-border-radius: 5px;
	cursor: pointer;
}
/* about_us part End */